#week-specials .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1rem;
}

#week-specials div.dish-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#week-specials .slider {
  padding: 1rem 0;
}
