.testimonial-card {
  max-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 3px 10px 0px hsla(0, 0%, 0%, 0.1);
  margin: 10px;
}

.testimonial-card .slider {
  padding: 1rem 0;
}

.testimonial-card .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rating {
  display: flex;
  align-items: center;
}

.testimonial-card img.star {
  width: 15px;
  aspect-ratio: 1/1;
}

.testimonial-card img.profile-pic {
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1/1;
}

.testimonial-card .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.testimonial-card .name {
  font-weight: 600;
}

.testimonial-card .nickname {
  font-size: 0.9rem;
  font-style: italic;
}

.testimonial-card .review {
  color: grey;
  font-size: 0.8rem;
}
