button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: var(--LL-Yellow);
  font-weight: 500;
  color: #333333;
}

button:hover {
  background-color: #fbdabb;
  cursor: pointer;
  transition: 0.3s;
}
