footer {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(0, 900px) minmax(20px, 1fr);
  grid-column-gap: 20px;
  grid-template-areas: ". content .";
  /* border: 1px dotted black; */
}

footer div {
  width: 100%;
  grid-area: content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* border: 3px dotted blue; */
}
