footer {
  padding: 2rem 0;
  background-color: hsla(160, 13%, 33%, 0.05);
  margin-top: 4rem;
}

footer div {
  width: 100%;
  grid-area: content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* border: 3px dotted blue; */
}

footer img {
  width: 120px;
}

footer li {
  padding-bottom: 10px;
}

footer a {
  color: var(--LL-Black);
}

@media (width <= 576px) {
  footer img {
    width: 80px;
  }
  #doormat-navigation {
    display: none;
  }
}
