header {
  width: 100%;
  background-color: var(--LL-Green);
  padding: 3rem 0;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 380px;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

header .hero-description {
  width: 300px;
  margin-right: 25px;
}

header h1.h1 {
  text-wrap: nowrap;
  font-size: 4rem;
  font-weight: 500;
  color: var(--LL-Yellow);
}

header h2.h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

header p {
  color: white;
  font-weight: 300;
  margin: 2rem 0 3rem 0;
}

@media (width <= 768px) {
  header img {
    display: none;
  }
}
