#week-specials .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1rem;
}

#testimonials div.section-header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#testimonials {
  background-color: hsla(29, 89%, 86%, 0.4);
  margin: 3rem 0;
  padding-bottom: 3rem;
}

h2.h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

div.dish-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

div.testimonials-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

#about div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about div.description-container {
  width: 300px;
}

#about p {
  margin: 1.5rem 0;
}

#about div.images-container {
  width: 380px;
  object-fit: scale-down;
  position: relative;
  /* border: 1px solid blue; */
  height: 500px;
}

#about img {
  max-width: 220px;
  /* height: 338px; */
  aspect-ratio: 2/3;
  border-radius: 16px;
  position: absolute;
  box-shadow: 0px 5px 20px 0px hsla(0, 0%, 0%, 0.15);
}

#about img.marioAdrianA {
  top: 0;
  right: 0;
  z-index: 1;
}

#about img.marioAdrianB {
  bottom: 0;
  left: 0;
  z-index: 0;
}

@media (width <= 992px) {
  div.dish-card-container,
  div.testimonials-card-container {
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
  }
}

@media (width <= 768px) {
  div.dish-card-container,
  div.testimonials-card-container {
    flex-direction: column;
    align-items: center;
  }

  #about div.wrapper {
    flex-direction: column;
    width: 100%;
    /* border: 1px solid blue; */
  }

  #about div.images-container {
    width: 400px;
    /* border: 1px solid red; */
    margin-top: 2rem;
  }
}

@media (width <= 576px) {
  #about div.images-container {
    width: 350px;
    /* border: 1px solid red; */
    margin-top: 2rem;
  }

  #about img {
    max-width: 200px;
    /* height: 338px; */
    aspect-ratio: 2/3;
    border-radius: 16px;
    position: absolute;
  }
}

@media (width <= 476px) {
  #about div.images-container {
    width: 300px;
    /* border: 1px solid red; */
    margin-top: 2rem;
  }

  #about img {
    max-width: 200px;
    /* height: 338px; */
    aspect-ratio: 2/3;
    border-radius: 16px;
    position: absolute;
  }
}
