nav,
div.sticky-container {
  position: sticky;
  background-color: var(--LL-White);
  top: 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
  box-shadow: 0px 15px 10px -15px hsla(0, 0%, 0%, 0.1);
}

nav.mobile-nav-bar {
  display: none;
}

.desk-nav-bar .wrapper {
  /* grid-area: wrapper; */
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 170px auto;

  align-items: center;
}

.desk-nav-bar a {
  text-transform: uppercase;
  text-wrap: nowrap;
  color: black;
}

.desk-nav-bar a:visited {
  color: black;
}

.desk-nav-bar ul {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(6, auto);
  height: inherit;
}

.desk-nav-bar li {
  height: inherit;
  /* border: 1px dotted red; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desk-nav-bar li:hover {
  background-color: var(--LL-Yellow);
  transition: 0.3s;
}

.ham-icon:hover {
  cursor: pointer;
}

nav.mobile-nav-bar {
  display: grid;
  height: 60px;
  position: relative;
}
nav.mobile-nav-bar div.wrapper {
  grid-area: wrapper;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-nav {
  position: absolute;
  background-color: var(--LL-White);
  padding-bottom: 10px;
}

.open-nav li {
  padding: 15px 0;
}

.open-nav a {
  color: var(--LL-Black);
  text-transform: uppercase;
}

.open-nav li:hover {
  background-color: var(--LL-Yellow);
  transition: 0.3s;
}
