@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --LL-Green: #495e57;
  --LL-Yellow: #f4ce14;
  --LL-White: #edefee;
  --LL-Black: #333333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
}

ul a {
  text-decoration: none;
}

body {
  font-family: "Karla", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--LL-White);
  color: #333333;
}

.markazi {
  font-family: "Markazi Text", serif;
}
